/* Vibrant dark theme for the window */
window {
background-color: #556;
    background-image: linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
        linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
        linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
        linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
        linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a),
        linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a);
    background-size: 80px 140px;
    background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
    font-family: Arial, sans-serif;
    color: #fff;
}

/* Vibrant dark theme for the button when it is hovered */
button:hover {
    border-radius: 5px;
    animation: glow 2s infinite;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-shadow:
        -1px -1px 1px rgba(0, 0, 0, 0.5),
        1px 1px 1px rgba(255, 255, 255, 0.3);
}
.menu-bar {
    background-color: #333;
    color: #9c7a5c;
    font-size: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5),
        inset 0 0 10px rgba(0, 0, 0, 0.5),
        inset 0 0 20px rgba(0, 0, 0, 0.5);
    text-shadow:
        0 0 2px #e2b38b,
        0 0 3px #e2b38b,
        0 0 4px #e2b38b,
        0 0 6px #e2b38b,
        0 0 8px #e2b38b,
        0 0 10px #e2b38b;
}

.menu-bar:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5),
        inset 0 0 10px rgba(0, 0, 0, 0.5),
        inset 0 0 20px rgba(0, 0, 0, 0.5);
    text-shadow:
        0 0 2px #e2b38b,
        0 0 3px #e2b38b,
        0 0 4px #e2b38b,
        0 0 6px #e2b38b,
        0 0 8px #e2b38b,
        0 0 10px #e2b38b;
}

.puzzle-piece {
    font-family: Arial, sans-serif;
    font-size: 80px;
    text-shadow:
        -1px -1px 1px rgba(0, 0, 0, 0.5),
        1px 1px 1px rgba(255, 255, 255, 0.3),
        0 0 5px rgba(255, 255, 255, 0.3),
        0 0 10px rgba(255, 255, 255, 0.3);
    color: #9c7a5c;
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow:
        0 1px 1px rgba(0, 0, 0, 0.1),
        0 2px 2px rgba(0, 0, 0, 0.2),
        0 4px 4px rgba(0, 0, 0, 0.2),
        0 8px 8px rgba(0, 0, 0, 0.2),
        0 16px 16px rgba(0, 0, 0, 0.3),
        inset 0 0 5px rgba(0, 0, 0, 0.6),
        inset 0 0 10px rgba(0, 0, 0, 0.6);
    animation: gloss 60s linear infinite;
}

menuitem {
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #444;
    text-shadow:
        -1px -1px 1px rgba(0, 0, 0, 0.5),
        1px 1px 1px rgba(255, 255, 255, 0.3);

}

menuitem:hover {
    border-radius: 5px;
    color: #9c7a5c;
    animation: glow 2s infinite;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-shadow:
        -1px -1px 1px rgba(0, 0, 0, 0.5),
        1px 1px 1px rgba(255, 255, 255, 0.3);

}

@keyframes pulse {
/* gold pulse */
    0% {
        background: radial-gradient(circle at center, #ffcc00, #fff5cf);
    }

    50% {
        background: radial-gradient(circle at center, #ffcc00, #7f6e2a);
    }

    100% {
        background: radial-gradient(circle at center, #ffcc00, rgb(110, 98, 44));
    }
}


@keyframes pulse_green {
    0% {
        background: radial-gradient(circle at center, #9cff57, #1e5631);
    }

    50% {
        background: radial-gradient(circle at center, #67ff33, #1e5631);
    }

    100% {
        background: radial-gradient(circle at center, #9cff57, #1e5631);
    }
}

@keyframes bg_change {
    0% {
        background: linear-gradient(to bottom, #1e5631, #152422);
    }

    50% {
        background: linear-gradient(to bottom, #152422, #1e5631);
    }

    100% {
        background: linear-gradient(to bottom, #1e5631, #152422);
    }
}


/* Add a glow animation to the puzzle pieces */
@keyframes glow {
    0% {
        box-shadow: 0 0 5px #baffac, 0 0 10px #baffac, 0 0 15px #baffac, 0 0 20px #baffac;
    }

    50% {
        box-shadow: 0 0 10px #80ff80, 0 0 20px #80ff80, 0 0 30px #80ff80, 0 0 40px #80ff80;
    }

    100% {
        box-shadow: 0 0 15px #00ff00, 0 0 30px #00ff00, 0 0 45px #00ff00, 0 0 60px #00ff00;
    }
}




@keyframes blank_glow {
    0% {
        box-shadow: 0 0 5px #9cff57, 0 0 10px #9cff57, 0 0 15px #9cff57, 0 0 20px #9cff57;
    }

    50% {
        box-shadow: 0 0 10px #67ff33, 0 0 20px #67ff33, 0 0 30px #67ff33, 0 0 40px #67ff33;
    }

    100% {
        box-shadow: 0 0 15px #33ff00, 0 0 30px #33ff00, 0 0 45px #33ff00, 0 0 60px #33ff00;
    }
}