window {
background-color: rgb(33, 33, 33);
    background-image: radial-gradient(closest-side, transparent 98%, rgba(0, 0, 0, 0.3) 99%),
        radial-gradient(closest-side, transparent 98%, rgba(42, 210, 123, 0.3) 99%);
    background-size: 80px 80px;
    background-position: 0 0, 40px 40px;
}

.puzzle-piece {
    background:
        radial-gradient(circle at 50% 50%, #a1805e, #B66D29 30%, #ffb76f 50%, #B66D29 70%, #d6b391),
        radial-gradient(circle at 30% 30%, #ffdab7, #ffdcb9 30%, #B66D29 50%, #9b6632 70%, #ffa24b),
        radial-gradient(circle at 70% 70%, #ffc387, #B66D29 30%, #cb9d6e 50%, #B66D29 70%, #ccb095),
        radial-gradient(circle at 70% 30%, #ffe8d2, #ffcb8f 30%, #ffd3aa 50%, #9b6632 70%, #ff9b4b),
        radial-gradient(circle at 30% 70%, #ffa34d, #ffcb8f 30%, #B66D29 50%, #ffd5aa 70%, #ff9b4b),
        radial-gradient(circle at 50% 30%, #ffdab7, #ffdcb9 30%, #B66D29 50%, #9b6632 70%, #ffa24b),
        radial-gradient(circle at 50% 70%, #ffc387, #B66D29 30%, #cb9d6e 50%, #B66D29 70%, #ccb095);
    background-blend-mode: multiply;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 40px;
    color: #f2aa6b;
    border: 1px solid #000;
    border-radius: 10px;
    font-size: xx-large;
    box-shadow:
        0 1px 1px rgba(0, 0, 0, 0.1),
        0 2px 2px rgba(0, 0, 0, 0.2),
        0 4px 4px rgba(0, 0, 0, 0.2),
        0 8px 8px rgba(0, 0, 0, 0.2),
        0 16px 16px rgba(0, 0, 0, 0.3),
        inset 0 0 5px rgba(0, 0, 0, 0.6),
        inset 0 0 10px rgba(0, 0, 0, 0.6);
    color: #f2aa6b;
    text-shadow:
    -1px -1px 1px rgba(0, 0, 0, 0.5),
    1px 1px 1px rgba(255, 255, 255, 0.3),
    0 0 5px rgba(255, 255, 255, 0.3);
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;

}


/* Vibrant dark theme for the button when it is focused */
button:focus {
        background-color: transparent;
        background-image: none;
        box-shadow: none;
}

/* Vibrant dark theme for the button when it is disabled */
button:disabled {
    background-color: #def;
        background-image: radial-gradient(closest-side, transparent 98%, rgba(0, 0, 0, .3) 99%),
            radial-gradient(closest-side, transparent 98%, rgba(0, 0, 0, .3) 99%);
        background-size: 80px 80px;
        background-position: 0 0, 40px 40px;
}
/* Vibrant dark theme for the button */
GtkButton {
    background-color: #def;
    background-image: radial-gradient(closest-side, transparent 98%, rgba(0, 0, 0, .3) 99%),
        radial-gradient(closest-side, transparent 98%, rgba(0, 0, 0, .3) 99%);
    background-size: 80px 80px;
    background-position: 0 0, 40px 40px;
}

.puzzle-piece {

    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 50px;
    color: #9c7a5c;
    box-shadow:
        0 1px 1px rgba(0, 0, 0, 0.1),
        0 2px 2px rgba(0, 0, 0, 0.2),
        0 4px 4px rgba(0, 0, 0, 0.2),
        0 8px 8px rgba(0, 0, 0, 0.2),
        0 16px 16px rgba(0, 0, 0, 0.3),
        inset 0 0 5px rgba(0, 0, 0, 0.6),
        inset 0 0 10px rgba(0, 0, 0, 0.6);

    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.5), 1px 1px 1px rgba(255, 255, 255, 0.3);
background-image:
        linear-gradient(90deg,
            rgba(255, 255, 255, 0.1) 25%,
            rgba(255, 255, 255, 0.5) 50%,
            rgba(255, 255, 255, 0.1) 75%);
    animation: gloss 60s linear infinite;
}


@keyframes gloss {
    0% {
        background-position: 1px;
    }
    100% {
        background-position: 100px;
    }

}


@keyframes shine {
    0% { background-position: -100px; }
    100% { background-position: 100px; }
}



/* Add a glow animation to the puzzle pieces */
@keyframes glow {
    0% {
        box-shadow: 0 0 5px #add8e6, 0 0 10px #add8e6, 0 0 15px #add8e6, 0 0 20px #add8e6;
    }
    50% {
        box-shadow: 0 0 10px #87cefa, 0 0 20px #87cefa, 0 0 30px #87cefa, 0 0 40px #87cefa;
    }
    100% {
        box-shadow: 0 0 15px #0000ff, 0 0 30px #0000ff, 0 0 45px #0000ff, 0 0 60px #0000ff;
    }
}

@keyframes blank_glow {
    0% {
        box-shadow: 0 0 5px #9cff57, 0 0 10px #bbff8b, 0 0 15px #9cff57, 0 0 20px #9cff57;
    }

    50% {
        box-shadow: 0 0 10px #67ff33, 0 0 20px #67ff33, 0 0 30px #114600, 0 0 40px #0c2305;
    }

    100% {
        box-shadow: 0 0 15px #105200, 0 0 30px #105100, 0 0 45px #030e00, 0 0 60px #000000;
    }
}
@keyframes matrix {
    0% { background-position: 0 0; }
    100% { background-position: 0 -1000px; }
}

.tile-0 {
    background: url('matrix.png') repeat;
    color: #00ff00;
    animation: matrix 2s linear infinite;
}

@keyframes pulse {
    0% {
        background: radial-gradient(circle at center, #4682b4, #020232);
    }
    25% {
        background: radial-gradient(circle at center, #b0c4de, #2e3842);
    }
    50% {
        background: radial-gradient(circle at center, #778899, #2f4f4f);
    }
    75% {
        background: radial-gradient(circle at center, #c0c0c0, #424242);
    }
    100% {
        background: radial-gradient(circle at center, #4682b4, #000043);
    }
}
@keyframes bg_change {
    0% {
        background: linear-gradient(to bottom, #1e5631, #152422);
    }

    50% {
        background: linear-gradient(to bottom, #152422, #1e5631);
    }

    100% {
        background: linear-gradient(to bottom, #1e5631, #152422);
    }
}