/* Vibrant dark theme for the window */
body {
background:
        radial-gradient(black 3px, transparent 4px),
        radial-gradient(black 3px, transparent 4px),
        linear-gradient(#fff 4px, transparent 0),
        linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px),
        linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px),
        #fff;
    background-size: 109px 109px, 109px 109px, 100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    font-family: Arial, sans-serif;
    color: #fff;
}


/* Vibrant dark theme for the button when it is hovered */
button:hover {
    background: linear-gradient(to right, #ff00cc, #3333ff);
    /* background-clip: text; */
    /* -webkit-background-clip: text; */
    /* color: transparent; */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6), inset 0 0 5px rgba(59, 148, 102, 0.6), inset 0 0 10px rgba(0, 0, 0, 0.6);
}


.puzzle-piece {

            background-size: 109px 109px, 109px 109px, 100% 6px, 109px 109px, 109px 109px;
            background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
            font-family: Arial, sans-serif;
            color: #fff;
}



/* Add a glow animation to the puzzle pieces */
@keyframes glow {
    0% {
        box-shadow: 0 0 5px #baffac, 0 0 10px #baffac, 0 0 15px #baffac, 0 0 20px #baffac;
    }

    50% {
        box-shadow: 0 0 10px #80ff80, 0 0 20px #80ff80, 0 0 30px #80ff80, 0 0 40px #80ff80;
    }

    100% {
        box-shadow: 0 0 15px #00ff00, 0 0 30px #00ff00, 0 0 45px #00ff00, 0 0 60px #00ff00;
    }
}




.tile-0 {
    animation: pulse 2s infinite;
    background: #1e5631;
    border: none;
    animation: pulse 1s infinite;
    box-shadow: none;
}

.tile-0:hover {
    background: radial-gradient(circle at center, #9cff57, #1e5631);
    border: none;
    border-radius: 0%;
    animation: pulse 2s infinite;
}

.tile-0:hover {
    background: radial-gradient(circle at center, #9cff57, #1e5631);
    border: none;
    border-radius: 0%;
}
